
PORT=7000
NODE_ENV=development

MONGO_URI=mongodb://tu_usuario:tu_password@localhost:27017

LOG_LEVEL=info

JWT_ACCESS_SECRET=beM5R85zRlL3
JWT_REFRESH_SECRET=8JEP68yph8tV
ACCESS_TOKEN_EXPIRY=1h
REFRESH_TOKEN_EXPIRY=7d


